/* General */
* {
  font-family: 'Josefin Sans', sans-serif;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

/* NavBar */

.main-sidebar {
  padding: 20px !important;
  background-color: beige;
  height: 100vh;
  border-right: 2px solid black;
}

.main-sidebar-navbar {
  display: flex;
  flex-direction: column;
}

.main-sidebar-navbar a {
  margin-bottom: 10px;
  padding: 20px;
  color: black;
  text-decoration: none;
  border: 2px solid beige;
}

.main-sidebar-navbar a:hover {
  background-color: #458238;
  color: beige;
  border: 2px solid black;
}

.main-sidebar-navbar a.active {
  background-color: #458238;
  color: beige;
  border: 2px solid black;
}

.main-sidebar-contact {
  padding: 20px;
  background-color: rgba(69, 130, 56, 0.7);
  border: 2px solid black;
}


/* NavBar */
.main-content {
  background-color: rgba(69, 130, 56, 0.7);
}